body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

.search-container {
    position: relative;
    display: inline-block; 
    margin-bottom: 20px;
}

#search {
    width: 300px; /* Aumenta el ancho del campo de búsqueda */
    padding: 10px 40px 10px 10px; /* Añade espacio a la derecha para el ícono */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.search-container i {
    position: absolute;
    right: 10px; /* Mueve el ícono a la derecha */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Color del ícono */
    font-size: 16px; /* Tamaño del ícono */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table thead tr th{

    background-color: slateblue;
    color: white;
    font-weight: bold;

}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.map-button {
    margin-left: 8px;
    color: #007BFF; /* Cambia el color según tu preferencia */
    text-decoration: none;
}

.map-button:hover {
    color: #0056b3; /* Color al pasar el ratón */
}

.map-button i {
    font-size: 1.2em; /* Tamaño del icono */
}
