html, body {
    height: 100%; /* Asegura que el body ocupe el 100% de la altura */
    margin: 0; /* Elimina márgenes por defecto */
    display: flex; /* Flex en el body */
    flex-direction: column; /* Coloca los hijos en columna */
    font-family: 'Montserrat', sans-serif; /* Fuente global */
}

.content {
    flex: 1; /* Permite que el div principal ocupe todo el espacio disponible */
    padding: 20px; /* Agrega espacio interior para el contenido */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

h2 {
    color: slateblue;
    font-weight: 600;
}

h3 {
    color: darkslategray;
    font-weight: 500;
}

.search-container {
    position: relative;
    display: inline-block; 
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

#search {
    width: 100%;
    padding: 10px; /* Espacio a la derecha para el ícono */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; 
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.search-container i {
    position: absolute;
    right: 10px; /* Coloca el ícono a la derecha del input */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Color del ícono */
    font-size: 16px; /* Tamaño del ícono */
    pointer-events: none; /* Evita que el ícono capture eventos de clic */
}


/* Contenedor para la tabla */
.table-container {
    overflow-x: auto; /* Permite desplazamiento horizontal */
}

table {
    width: 100%; /* Asegura que la tabla ocupe el 100% del ancho */
    border-collapse: collapse;
    margin: 20px 0;
}

table thead tr th {
    background-color: slateblue;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    max-width: 150px; /* Ajusta el ancho máximo de las celdas si es necesario */
    word-wrap: break-word; /* Permite que el texto se ajuste */
}

footer {
    background-color: #f9f9f9; 
    padding: 20px 0; 
    text-align: center; 
    border-top: 2px solid slateblue; 
    width: 100%; /* Asegura que el footer ocupe el 100% del ancho */
}